.about {
  background: url("../assets/info-bg.svg") no-repeat center;
  background-size: cover;
  position: relative;
  .about__main {
    padding: 5rem;
    display: flex;
    .custom-shape-divider-bottom-1665750197 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1665750197 svg {
      position: relative;
      display: block;
      width: calc(233% + 1.3px);
      height: 42px;
      transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1665750197 .shape-fill {
      fill: $dark;
    }
    .about__left {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        background: url("../assets/background-desktop.svg") fixed no-repeat;
        width: 40%;
        border: 1px solid white;
        border-radius: 0.25rem;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
          rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      }
    }
    .about__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      flex: 0.8;
      padding-inline-start: 5rem;
      border-left: 1px solid white;
      gap: 1rem;

      h2 {
        color: white;
        font-family: $titlefont;
        font-size: 3rem;
        background-color: $lightred;
        background: url("../assets/background-desktop.svg") fixed center;
        background-size: cover;
        width: fit-content;
        border-bottom: 1px solid white;
      }
      p {
        color: $dark;
        font-size: 1.2rem;
        font-family: $headerfont;
        font-weight: lighter;
      }
      a {
        width: fit-content;
        color: #ffffffdc;
        font-family: $logofont;
        font-weight: lighter;
        transition: border-bottom 250ms;

        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}
