@media screen and (max-width: 480px) {
  .about__main{
    overflow-x: hidden;
  }
  html {
  scrollbar-width: normal;
  ::-webkit-scrollbar{
    width: unset;

  }
  ::-webkit-scrollbar-thumb{
    border-radius: unset;
    background-color: unset;
  }
  ::-webkit-scrollbar-track{
    background: unset;
  }
}
  .hero__main {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    .text__container {
      padding: 8rem 0rem 0rem 0rem;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: auto;
      h2 {
        width: 100%;
        font-size: 5rem;
      } .p2{
        margin: auto;
        width: 90%;
      }
    }
    .main__illustration {
      svg {
        width: 100%;
      }
    }
  }

  .header {
    gap: 1rem;
    position: absolute;
    display: flex;
    padding: 1rem;

    .header__right {
      width: 100%;
      max-width: 100%;
      .header__menu {
        font-size: 0.9rem;
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        button {
          display: none;
        }
      }
    }
  }

  .about {
    .about__main {
      padding: 1rem;
      display: flex;
      flex-direction: column-reverse;
      .about__left {
        padding: 1rem;
        img {
          width: 100%;
        }
      }
      .about__right {
        padding: 0;
        border: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .knowledge {
    padding: 3rem 1rem;
    .know__main {
      height: auto;
      .know__top {
        width: 100%;
      }
      .know__bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        gap: 1rem;
        i {
          font-size: 5rem;
        }
      }
    }
  }
  .portfolio {
    padding: 1rem;
    height: 100%;
    .portfolio__main {
      .port__top {
        text-align: center;
        p {
          width: 60%;
        }
      }
      .port__bottom {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "work1"
          "work2"
          "work3";
      }
    }
  }
  .contact {
    .contact__main {
      padding: 3rem 0;
      flex-direction: column;
    }
    .contact__left{
      padding-top: 7rem;
    }
  }
}
